.upload-page {
  padding-top: 5%;
  .content {
    width: 25%;
    min-width: 350px;
    display: inline-block;
    .default-img {
      height: 200px;
      width: 200px;
      border: 1px solid #c9c9c9;
      margin-bottom: 20px;
      border-radius: 5px;
    }
    .upload-bk-img {
      height: 200px;
      width: 200px;
    }
  }
}
