.upload-page {
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    min-width: 350px;
    display: inline-block;
    .default-img {
      height: 200px;
      width: 200px;
      border: 1px solid #c9c9c9;
      margin-bottom: 20px;
      border-radius: 5px;
    }
    .upload-bk-img {
      width: 100%;
    }
  }
}
